.textContainer {
  margin-top: 1em;
  padding-top: 4em;
  font-size: 0.8rem;
  background: transparent;
  position: relative;
  z-index: 99;
}
.subtext {
  text-align: justify;
}
@media (min-width: 768px) {
  .textContainer {
    padding-top: 0;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .subtext {
    padding: 0em 10em 0 0;
  }
}
